extends layout

block content
  h6
    a(href="/") <- Back
  div(class="entries")
    h2 #{entry.entryTitle}
    h3 By #{entry.author}
    h6 #{entry.date}
    p #{entry.entryBody}

    p
      a(href="/#{entry._id}/update") Edit
      //- form(method='DELETE', action='/#{entry._id}/delete')
      //-   button(type='submit')Delete
    a(href="/entry/#{entry._id}") Delete
