extends layout

block content

  each entry in entries
    div(class="entries")
      h2 #{entry.entryTitle}
      h3 By #{entry.author}
      h6 #{entry.date}
      p #{entry.entryBody}

      p
        a(href='/entry/#{entry._id}' id='readmore') Read More
        a(href='/entry/#{entry._id}') Edit
        form(action='/entry/#{entry._id}/delete',method='post' class="destroy")
          input(type="hidden" name="_method" value="delete")
          button(type='submit') Delete
        //a(href="/entry/#{entry._id}/delete" id="delete") Delete
