extends layout

block content

  each entry in entries
    div(class="entries")
      h2 #{entry.entryTitle}
      h3 By #{entry.author}
      h6 #{entry.date}
      p #{entry.entryBody}

      p
        a(href='/entry/#{entry._id}') Read More
        a(href='/entry/#{entry._id}') Edit
        a(href="/entry/#{entry._id}") Delete
        //- form(method='DELETE', action='/#{entry._id}')
        //-   button(type='submit') Delete
