extends layout

block content

  each entry in entries
    div(class="entries")
      h6 #{entry.date}
      h2 #{entry.entryTitle}
      h3 By #{entry.author}
      p(class="entry-body") #{entry.entryBody}
      a(href="/entry/#{entry._id}") Read More


      ul.options
        li
          button(class="edit")
            a(href='/entry/#{entry._id}/edit') Edit
        li
          form(action='/entry/#{entry._id}/delete',method='post' class="destroy")
            input(type="hidden" name="_method" value="delete")
            button(class="submit" type='submit') Delete
